@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ul, ol {
  list-style: none;
} */

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

img, a {
  display: block;
}

h1, h2, h3, h4, h5, h6{
  font-size: inherit;
  font-weight: normal;
}

.clearfix{
  content: "";
  display: block;
  clear: both;
}

.fs07{font-size: .7rem;}
.fs12{font-size: 1.2rem;}
.fs15{font-size: 1.5rem;}
.fs20{font-size: 2rem;}
.fs30{font-size: 3rem;}

.p05{padding: .5rem;}
.p10{padding: 1rem;}

.m05{margin: .5rem;}
.m10{margin: 1rem;}
